// couleur de body
$color_header : #111111;
$color_body :#191113;

// couleur utiliser pour le menu des catégories
$color_menu : #111111;
$hover_menu: #313131;

// couleur du background teams
$bandreau_teams: #201320;

// couleur border
$boder_header: #606060;
$border_categorie: #fff;
$icone_header: #fff;
$image_teams: #92549C;

// police d'écriture texte
$text: #F4D4F4;