// couleur de body
$color_header : #111111;
$color_body :#191113;
$color_footer : #111111;

// couleur utiliser pour le menu des catégories
$color_menu : #111111;
$hover_menu: #313131;

// couleur du background teams
$bandreau_teams: radial-gradient(circle, rgba(55, 40, 99, 1) 24%, rgba(125, 102, 217, 1) 38%, rgba(110, 86, 207, 1) 38%, rgba(51, 37, 91, 1) 76%);

// couleur border
$boder_header: #606060;
$boder_footer: #606060;
$border_categorie: #fff;
$icone_header: #fff;
$image_teams: #54346B;

// police d'écriture texte
$text: #F4D4F4;